.error{
    color: red;
}


.float_right {
    float: right;
}

.sidebar{
    width:150px;
    height: 100%;
    background-color: blueviolet;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 20px;
}

.nav_bar{
    margin-left: 150px;
    height: 40px;
    background-color: blueviolet;
}

.main_div{
    margin-left: 150px;
    margin-top:40px;
    padding: 0px 10px;

}