.sidebar_list{
    list-style-type: none;
}

.sidebar_item{
    padding:10px;
}

.sidebar_item a{
    color: white;
    text-decoration: none;
}

.sidebar_item a:hover{
    color:tomato;   
}

/* .sidebar_item a:active{
    font-weight: bold; 
} */